
{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
<title>Footer</title>
{% endblock%}
{% block main_content %}

<div class="container">
        <div class="row g-4">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Us Via</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold">Main Location:</span> Softwarica College
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Hotline Phone:</span> (+061) 589360
              </li>
              <li class="list-group-item">
                <span class="fw-bold"> Personal Phone:</span> (+977) 9814192623
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Enrollment Email:</span> (ZZM)
                enroll_zzmovies@google.com
              </li>
              <li class="list-group-item">
                <span class="fw-bold">Inquiry Email:</span>
                inquiry@zzmovies.com
              </li>
            </ul>
          </div>
          <div class="col-md">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.390227318505!2d85.3272271155257!3d27.705235382792825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19a0a7230f43%3A0x18e4d56d8c3ab0a9!2sSoftwarica%20College!5e0!3m2!1sen!2snp!4v1630833109341!5m2!1sen!2snp"
     width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="p-5 bg-dark text-white text-center position-relative">
      <div class="container">
        <p class="lead">Copyright &copy; 2021 Saugat Kunwor</p>

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>

    {% endblock %}
