<div class="footer p-4 bg-dark text-white" style="margin-top: 100px">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <h2>About Me</h2>
        <pre>
        “Saugat Kunwor is a student at Softwarica College 
        with high ambitions of achieveing his goals 
        who holds knowledge in Python, HTML, CSS, Bootstrap;
         with the help of Django, a popular framework
        he made a small and functioning project,
        a movie website with alot of features. 

    </pre
        >
      </div>
      <div class="col-md-3">
        <h2>Tools</h2>
        <ul class="list-unstyled">
          <li>Python</li>
          <li>Javascript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>Django</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h2>Useful Links</h2>
        <ul class="list-unstyled">
          <li>Home</li>
          <li>News</li>
          <li>About</li>
          <li>Contact</li>
          <li>Memos</li>
          <li>Products</li>
        </ul>
      </div>
    </div>
  </div>
</div>
