{% load static %}
<nav class="navbar navbar-expand-lg navbar-danger bg-dark py-3 fixed-top align-item-center">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/n.jpg' %}" width="33" height="34" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/movies">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload_movies"> Add movies</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="material-icons">notifications</i>
            Notifications

            <span class="badge">

            </span>

          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Movies</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/password_change_user">Change Password</a>
            </li>
            <li>
              <a class="dropdown-item" href="/feedback">Report an Issue</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="nav-link" href="/logout"> Logout</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/register"> Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login"> Login</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for movies" aria-label="Search" />
        <button class="btn btn-outline-success" type="search">Search</button>
      </form>
    </div>
  </div>
</nav>